<%= link_to 'На главную', root_path, class: "", id: "" %>

<form action="/search", class="">
    <input name="q" type="text" placeholder="Поиск" aria-label="Поиск", class="">
    <button type="submit", class="", id="">Поиск</button>
</form>

<%= render 'developers/list' %>