<div class="" id=""> <%= @developer.title %> </div>

<div class="">
  <%= render @developer.products %>
</div>

<%= link_to "Add product", new_developer_product_path(@developer, @developer.products.build),
    class: "", id: "" %>
<%= link_to "Back", developers_path, class: "", id: "" %>