<div class="top-header">
  <div class="container">
    <div class="top-header_main">
      <div class="col-md-6 top-header-left">
        <div class="drop">
          <div class="btn-group">
            <a class="dropdown-toggle" data-toggle="dropdown">Account <span class="caret"></span>></a>
            <ul class="dropdown-menu">
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-6 top-header-left">
        <div class="cart box_1">

          <a href="/cart" onclick="getCart(); return false;">
            <div class="total">

            </div>
          </a>
          <div class="clearfix"> </div>
        </div>
      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>